
body { 
  font-family: 'Roboto mono', monospace; 
  background-color: rgba(237, 237, 237, 0.605);
}

h1 {
  background-color: lightblue;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
}

.container { 
  margin: 0 auto; 
  box-shadow: 2px 2px 3px black;
}

.controller {
  /* border: 1px solid red;  */
  display: flex;
  position: relative;
  top: 50px;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 500px;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transition: background-color;
  transition: box-shadow;
  transition-delay: 0.5;
  transition-duration: 1s;
}

.check {
  background-color: lightgreen;
  box-shadow: 1px 5px 5px black;
}

.start {
  font-size: 20px;
  width: 80px;
}

.reload {
  font-size: 20px;
  width: 80px;
}

textarea {
  font-size: 20px;
  text-align: center;
}